.banner {
  color: black;
  height: 92px;
  text-align: right;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lmj-title {
  position: absolute;
  right: 0;
  padding-left: 32px;
  margin-right: 20px;
}

.lmj-logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.container-icon {
  display: flex;
  justify-content: space-around;
  width: 97px;
  position: absolute;
  right: 0;
}

.menu-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 15px;
  height: 15px;
}

h2 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.menu {
  display: none;
}

@media (max-width: 790px) {
  .banner {
    height: 36px;
    border-bottom: none;
    padding: 5px;
  }
  .menu {
    position: absolute;
    right: 45px;
    display: flex;
  }

  .menu-icon {
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }

  .container-icon {
    display: none;
  }
}
