.banner {
  color: black;
  height: 130px;
  text-align: right;
  /* padding: 32px; */
  border-bottom: solid 3px black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lmj-title {
  position: absolute;
  right: 0;
  padding-left: 32px;
  margin-right: 20px;
}

.lmj-logo {
  display: flex;
  justify-content: flex-start;
  width: 87%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
