.dressList {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 219px;
}

.dressList__card {
  margin: 20px 30px;
}

.dressList__card img {
  width: 300px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}

.dressList__description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

.dressList__description p {
  color: brown;
  font-size: 18px;
}
