.lmj-footer {
  color: black;
  padding: 32px;
  border-top: solid 3px black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  background: #f8e4e6;
  height: 228px;
}

.lmj-footer-elem {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.modal-newsletter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 435px;
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #efe4b0;
  border: 1px solid #84773c;
  border-radius: 10px;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}

.modal-title {
  font-size: 25px;
  margin: 22px auto;
}

.modal-newsletter p {
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact p {
  margin-right: 10px;
}

.contact a {
  width: 45px;
  height: 45px;
  margin: 0 5px;
}

.facebook {
  height: 40px;
  width: 40px;
}

button {
  margin: 15px;
  padding: 5px 10px;
  border: none;
  background: #ff8a9a;
  color: white;
  width: 170px;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-newsletter {
    width: 340px;
  }
}
