.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  width: 705px;
  margin: auto;
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* border-right: 3px solid black; */
  /* border-left: 2px solid black; */
  font-size: 15px;
  font-weight: 600;
  /* padding: 10px 10px; */
  /* width: 150px; */
  height: 40px;
  color: rgb(0, 0, 0);
  margin: 0 20px;
}

@media (max-width: 790px) {
  .nav {
    display: none;
  }
}
